.achivments {


    & .swiper {

        @include desktop {
            width: 100rem;
        }

    }

    & .container {
        position: relative;
    }

    &__pic {
        position: absolute;
        width: 22rem;
        height: 23rem;
        display: flex;
        top: -14rem;
        left: 0;

        @include mobile {
            width: 10rem;
            height: 10rem;
            top: -10rem;
            left: calc(100% - 14rem);

        }

        & img {
            object-fit: contain;
            transform: rotate(15deg);
        }
    }

    &__dot {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 6rem;
        height: 6rem;
        filter: blur(50px);
        border-radius: 50%;

        &._purple {
            background-color: $purple;
            top: 50%;
            left: 50%;
        }

        &._green {
            background-color: $green;
            top: 60%;
        }

        &._white {
            background-color: $white;
            top: 70%;
        }

    }

    &-item {
        position: relative;
        padding: 2px;
        transition: padding 0s;
        box-sizing: border-box;
       

        &-light {

            border-radius: 50%;
            width: 15rem;
            height: 15rem;
            position: absolute;
            opacity: 0;
            transition:  opacity .5s linear;

            &._red {
                background-color: red;
                top: 50%;
                left: 50%;
            }

            &._green {
                top: 20%;
                left: 20%;
                background-color: green;
             
            }

            &._blue {
                top: 50%;
                left: -0%;
                background-color: blue;
            }
        }

        & .gradient-border {

            &::after {
                border-radius: .5rem;
                top: 2px;
                left: 1px;
                width: calc(100% - 3px);
                height: calc(100% - 5px);


            }

            &::before {
                border-radius: 1rem;
                opacity: 0;
                transition: opacity .5s linear;

            }
        }

        @include mobile {
            & .gradient-border {

                &::after {
                    top: 2px;
                    left: 1px;
                    width: calc(100% - 3px);
                    height: calc(100% - 5px);
                }

               
            }
        }

        &.swiper-slide-active {
            & .achivments-item__c {
                background-color: rgb(66 58 77 / 7%);
            }

            & .gradient-border {

                &::after {
                    opacity: 1;
                }

                &::before {
                    opacity: 1;
                }
            }
            & .achivments-item-light {
                opacity: 1;
                &._green{
                   
                    animation: green 2s linear 1;
                }
            }

        }



        &__c {
            /*   background-color: rgb(66 58 77 / 7%); */
            backdrop-filter: blur(1rem);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 46rem;
            box-sizing: border-box;
            padding: 5rem;
            border-radius: 1rem;
            position: relative;
            z-index: 3;
            @include mobile{
                padding:3.6rem 1.6rem;
            }

            /*     &-bg {
                position: absolute;
                z-index: 2;
                top: 0;
                left: 0;
                width: 25rem;
                height: 25rem;
                background-color: red;
                background: radial-gradient(circle, rgba(8,0,255,1) 1%, rgba(8,0,255,0) 75%);
            } */



            & div {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1.5rem;
            }

            &-img {
                width: 12rem;
                height: 12rem;
                display: flex;

                & img {
                    object-fit: cover;
                    object-position: center;
                }
            }

            &-ttl {
                text-transform: uppercase;
                font-family: 'Esqadero FF CY 4F';
                font-size: 2.2rem;
                font-weight: 400;
                line-height: 110%;
                text-align: center;
                @include mobile{
                    font-size: 2.4rem;
                }
            }

            &-txt {
                font-family: Idealist Sans;
                font-size: 1.6rem;
                font-weight: 300;
                line-height: 120%;
                letter-spacing: 0.05em;
                text-align: center;
                @include mobile{
                    font-size: 2.4rem;
                }

            }

        }

    }
}

@keyframes green {
    0% {
        top: 20%;
        left: 20%;
    }

    20% {
        top: 4%;
        left: 46%;
    }
    40%{
        top: 63%;
        left: 46%;
    }
    60%{
        top: 63%;
        left: 3%;
    }

    100% {
        top: 20%;
        left: 20%;
    }
}