.achivments {
    & .wow {
        padding: 1rem 0;
        box-sizing: border-box;
    }

    & .swiper {

        @include desktop {
            width: 100rem;
        }

    }
    & .container {
        position: relative;
    }

    &__dot {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 6rem;
        height: 6rem;
        filter: blur(50px);
        border-radius: 50%;
        &._purple{
            background-color: $purple;
            top: 50%;
            left: 50%;
        }
        &._green{
            background-color: $green;
            top: 60%;
        }
        &._white{
            background-color: $white;
            top: 70%;
        }

    }

    &-item {
        position: relative;
        border-radius: 3rem;
        padding: 2px;
        transition: padding 0s;
        box-sizing: border-box;

        & .gradient-border::after {
            border-radius: 2.6rem;
            top: 2px;
            left: 1px;
            width: calc(100% - 3px);
            height: calc(100% - 5px);
        }

        /*  & .gradient-border::before{
            display: none;
        } */


        &__c {
            background-color: rgba(197, 149, 255, 0.07);
            backdrop-filter: blur(1rem);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 46rem;
            box-sizing: border-box;
            padding: 5rem;
            border-radius: 3rem;
            position: relative;
            z-index: 3;

            /*     &-bg {
                position: absolute;
                z-index: 2;
                top: 0;
                left: 0;
                width: 25rem;
                height: 25rem;
                background-color: red;
                background: radial-gradient(circle, rgba(8,0,255,1) 1%, rgba(8,0,255,0) 75%);
            } */



            & div {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1.5rem;
            }

            &-img {
                width: 12rem;
                height: 12rem;
                display: flex;

                & img {
                    object-fit: cover;
                    object-position: center;
                }
            }

            &-ttl {
                text-transform: uppercase;
                font-family: 'Esqadero FF CY 4F';
                font-size: 2.2rem;
                font-weight: 400;
                line-height: 110%;
                text-align: center;
            }

            &-txt {
                font-family: Idealist Sans;
                font-size: 1.6rem;
                font-weight: 300;
                line-height: 120%;
                letter-spacing: 0.05em;
                text-align: center;

            }

        }

    }
}