.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;


    & .container {

        display: flex;
        flex-direction: column;
    }

    &__lang {
        margin-top: 1rem;
        margin-left: auto;
        display: flex;
        gap: 2rem;
        //styleName: Tlang;
        // font-family: Idealist Sans;
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 2.2rem;
        letter-spacing: 0.05em;
        text-align: left;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.4);

        &-e._active {
            color: $white;

            & span {
                color: $green;
            }
        }

        &-e {
            @include hover {
                color: $white;
            }
        }

    }

    &__c {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-logo {
            width: 22.4rem;
            display: flex;

            & img {
                object-fit: contain;
            }
        }

        &-nav {
            display: flex;
            gap: 6rem;
            //styleName: T01b;
            font-family: Idealist Sans;
            font-size: 1.6rem;
            font-weight: 300;
            line-height: 2.2rem;
            letter-spacing: 0.05em;
            text-align: left;
            text-transform: uppercase;

            &-e {
                border-radius: .5rem;

                position: relative;

                &-text {
                    border-radius: .5rem;
                    padding: .1rem 1rem;
                    background-color: $bg;
                    backdrop-filter: blur(1rem);
                    position: relative;
                    z-index: 5;
                    display: block;
                    transition: color .5s, text-shadow .5s;

                }

                &-bg {
                    transition: opacity .5s;
                    opacity: 1;
                    border-radius: .5rem;
                    position: absolute;
                    display: block;
                    background-color: $bg;
                    z-index: 4;
                    width: calc(100% - 4px);
                    height: calc(100% - 4px);
                    top: 2px;
                    left: 2px;
                }

                &._vacancy {

                  color: $green;

                }

                &-gradient {
                    transition: opacity .5s;
                    opacity: 0;
                    border-radius: .5rem;
                    position: absolute;
                    display: block;
                    z-index: 3;
                    width: calc(100% + 2px);
                    height: calc(100% + 2px);
                    top: -1px;
                    left: -1px;
                    /* filter: blur(2px); */
                    -webkit-transform: translateZ(0);
                    -webkit-backface-visibility: hidden;

                    overflow: hidden;

                    & span {
                        display: block;
                        width: 200%;
                        aspect-ratio: 1 / 1;
                      /*   background: linear-gradient(129.47deg,
                                rgba(13, 150, 118, 0.849) 30%,
                                rgba(161, 66, 255, 0.774) 65%); */
                        background: linear-gradient(127deg,
                                rgba(9, 216, 168, 0.849) 0%,
                                rgba(13, 150, 118, 0.849) 35%,
                                rgba(13, 150, 118, 0) 40%,
                                rgba(161, 66, 255, 0.774) 65%,
                                rgba(161, 66, 255, 0.938) 100%);

                        transform: translate(-23%, -32%) rotate(0);
                        transition: transform .5s;
                    }
                }

                &-blick {
                    position: absolute;


                    width: 3px;
                    height: 3px;
                    z-index: 10;

                    opacity: 0;
                    scale: 0 0;
                    transition: left .5s linear;
                    background-size: cover;

                    &._green {
                        top: -1.5px;
                        left: 0;
                        background: radial-gradient(circle, rgba(232, 232, 232, 1) 0%, $green 5%, rgba(255, 0, 0, 0) 63%);
                    }

                    &._purple {
                        bottom: -1.5px;
                        left: 70%;
                        background: radial-gradient(circle, rgba(232, 232, 232, 1) 0%, $purple 5%, rgba(255, 0, 0, 0) 63%);
                    }
                }



                &._hover {
                    & .header__c-nav-e-gradient {
                        opacity: 1;

                        & span {
                            transform: translate(-23%, -32%) rotate(60deg);
                        }
                    }

                    & .header__c-nav-e-bg {
                        opacity: 1;
                    }

                    & .header__c-nav-e-blick._green {
                        left: 70%;
                        scale: 12 2;
                        animation: fade .5s linear normal;

                    }

                    & .header__c-nav-e-blick._purple {
                        left: 20%;
                        scale: 12 2;
                        animation: fade .5s linear normal;
                    }
                }
            }

        }
    }
}


@keyframes fade {
    0% {
        opacity: 0;

    }

    10% {

        opacity: 1;
    }

    60% {

        opacity: 1;
    }

    100% {

        opacity: 0;
    }
}