<li class="about__c-right-tags-e wow animate__fadeInUp">
    <div class="about__c-right-tags-e-bg"></div>
    <div class="about__c-right-tags-e-img"></div>
    <div class="about__c-right-tags-e-border"></div>
    <span class="about__c-right-tags-e-dot">&#8226;</span>
    <span class="about__c-right-tags-e-text">
        <span class="col-green about__c-right-tags-e-one"></span>
        <span class="col-purple about__c-right-tags-e-two"></span>
        <span class="col-green about__c-right-tags-e-three"></span>
    </span>

</li>