<li class="swiper-slide achivments-item">
    <div class="gradient-border">
      <div class="achivments-item-light _red"></div>
      <div class="achivments-item-light _green"></div>
      <div class="achivments-item-light _blue"></div>
      <div class="achivments-item__c ">
        <p class="achivments-item__c-ttl">1111</p>
        <div>
          <div class="achivments-item__c-img">
            <img src="./assets/images/achivment.png" alt="achivment">
          </div>
          <h3 class="achivments-item__c-ttl txt-up col-green"> Lorem ipsum dolor sit amet consectetur
            adipisicing.</h3>
        </div>
        <p class="achivments-item__c-txt col-purple">Lorem ipsum dolor sit amet consectetur adipisicing
          elit.
        </p>
      </div>
    </div>
  </li>