<header class="header">
  
        <div class="container ">
            <div class="header__lang">
                <a href="#" class="header__lang-e _active"><span>&#8226;</span>ру</a>
                <a href="#" class="header__lang-e "><span>&#8226;</span>en</a>
            </div>
            <div class="header__c">
                <a href="#" class="header__c-logo">
                    <img src="./assets/images/icons/logo-white.svg" alt="postpro18">
                </a>
                <nav class="header__c-nav">
                    <a class="header__c-nav " href="#about">О нас</a>
                    <a class="header__c-nav " href="#portfolio">РАБОТЫ</a>
                    <a class="header__c-nav " href="#achivments">НАГРАДЫ</a>
                    <a class="header__c-nav " href="#team">КОМАНДА</a>
                    <a class="header__c-nav " href="#contacts">КОНТАКТЫ</a>
                    <a class="header__c-nav  _vacancy" href="#vacancy">вакансии</a>
                </nav>
            </div>
        </div>
  
</header>