<header class="header">

    <div class="container ">
        <div class="header__lang">
            <a href="#" class="header__lang-e _active"><span>&#8226;</span>ру</a>
            <a href="#" class="header__lang-e "><span>&#8226;</span>en</a>
        </div>
        <div class="header__c">
            <a href="#" class="header__c-logo">
                <img src="./assets/images/icons/logo-white.svg" alt="postpro18">
            </a>
            <nav class="header__c-nav">
                <a class="header__c-nav-e " href="#about">
                    <span class="header__c-nav-e-text">О нас</span>
                    <span class="header__c-nav-e-bg"></span>
                    <span class="header__c-nav-e-gradient">
                        <span></span>
                    </span>
                </a>
                <a class="header__c-nav-e " href="#portfolio">
                    <span class="header__c-nav-e-text">работы</span>
                    <span class="header__c-nav-e-bg"></span>
                    <span class="header__c-nav-e-gradient">
                        <span></span>
                    </span>
                </a>
                <a class="header__c-nav-e " href="#achivments">
                    <span class="header__c-nav-e-text">награды</span>
                    <span class="header__c-nav-e-bg"></span>
                    <span class="header__c-nav-e-gradient">
                        <span></span>
                    </span>
                </a>
                <a class="header__c-nav-e " href="#team">
                    <span class="header__c-nav-e-text">команда</span>
                    <span class="header__c-nav-e-bg"></span>
                    <span class="header__c-nav-e-gradient">
                        <span></span>
                    </span>
                </a>
                <a class="header__c-nav-e " href="#contacts">
                    <span class="header__c-nav-e-text">контакты</span>
                    <span class="header__c-nav-e-bg"></span>
                    <span class="header__c-nav-e-gradient">
                        <span></span>
                    </span>
                </a>
                <a class="header__c-nav-e  _vacancy" href="#vacancy">
                    <span class="header__c-nav-e-text _vacancy-text">Вакансии</span>
                    <span class="header__c-nav-e-gradient _vacancy-bg">
                        <span></span>
                    </span>
                </a>
            </nav>
        </div>
    </div>

</header>